spec/fixtures/wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://chrome52/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://chrome52/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A service for Chrome52 clients to query their inventory counts.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://chrome52/webservices/">
      <s:element name="InventoryCountProxy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VendorAccessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sku" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InventoryCountProxyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InventoryCountProxyResult" type="tns:InventoryCountProxyResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InventoryCountProxyResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QueryResults" type="tns:InventoryCounts" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventoryCounts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sku" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Counts" type="tns:ArrayOfInventoryCount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInventoryCount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventoryCount" nillable="true" type="tns:InventoryCount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventoryCount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WHID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AvailableToAllocate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AllocatedAndReleased" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Backordered" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cancelled" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Unreleased" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BeingManufactured" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalExpected" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalReceived" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalShipped" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StockTransferIn" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StockTransferOut" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OriginalPO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AmendedPO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UnshippedPO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ActiveShipment" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AvailableToSell" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentInStock" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalSalesOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceivingVariance" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WarehouseVariance" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InventoryCountProxySoapIn">
    <wsdl:part name="parameters" element="tns:InventoryCountProxy" />
  </wsdl:message>
  <wsdl:message name="InventoryCountProxySoapOut">
    <wsdl:part name="parameters" element="tns:InventoryCountProxyResponse" />
  </wsdl:message>
  <wsdl:portType name="InventoryWsSoap">
    <wsdl:operation name="InventoryCountProxy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inventory counts.</wsdl:documentation>
      <wsdl:input message="tns:InventoryCountProxySoapIn" />
      <wsdl:output message="tns:InventoryCountProxySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryWsSoap" type="tns:InventoryWsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InventoryCountProxy">
      <soap:operation soapAction="http://chrome52/webservices/InventoryCountProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InventoryWsSoap12" type="tns:InventoryWsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InventoryCountProxy">
      <soap12:operation soapAction="http://chrome52/webservices/InventoryCountProxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryWs">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A service for Chrome52 clients to query their inventory counts.</wsdl:documentation>
    <wsdl:port name="InventoryWsSoap" binding="tns:InventoryWsSoap">
      <soap:address location="http://www.ioperate.net/ws/inventory/inventoryws.asmx" />
    </wsdl:port>
    <wsdl:port name="InventoryWsSoap12" binding="tns:InventoryWsSoap12">
      <soap12:address location="http://www.ioperate.net/ws/inventory/inventoryws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
